<%if customer_signed_in? %>
  <% if current_customer.wish_lists.pluck(:product_id ).include?(product.id) %>
  <span id="delete-wish-list">
    <%= link_to(wish_list_path(product), :method => :delete, remote: true) do%><i class="fa fa-heart" aria-hidden="true"></i><% end %>
  <span>
  <% else %>
    <span id="add-wish-list">
      <%= link_to(wish_lists_path(product_id: product.id), :method => :post, remote: true) do%><i class="fa fa-heart-o" aria-hidden="true"></i><% end %>
    </span>
  <% end %>
<% else %>
<span>
  <span id="add-to-wish-list">
   <%= link_to(wish_lists_path(product_id: product.id), :method => :post) do%><i class="fa fa-heart-o" aria-hidden="true"></i> <% end %>
 </span>
<% end %>