<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%= link_to(root_path) do %>Home<% end %></li>
        <li class="active">Wishlist</li>
      </ol>
    </div>
    <div class="row">
      <% @wish_lists.each_with_index do |item,index|%>
        <div id="wish-list-item-<%=item.id%>" class="col-sm-6">
           <%= render "wish_list_item", item: item %>
        </div>

      <% end %>
    </div>
    <div id="empty-list">
      <%= render "empty_list"%>
    </div>
  </div>
</section> <!--/#cart_items-->