<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <%= image_tag attachments['logo.png'].url -%>
    <h4>Hello, <%= @contect.name %></h4>
    <p>
     <%= @message_reply %>
   </p>
    <p>Thanks and have a great day!</p>
    <p>Madhusudan patidar<p>
    <p> Admin </p>
    <p>EShopper Limited.</p>
  </body>
</html>