<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <%= image_tag attachments['logo.png'].url -%>
    <h4>Hello, <%= @customer.first_name %></h4>
    <p>
      Your Order Successfully <strong>canceled</strong>, your  <strong>&#8377; <%= @amount%></strong> amount is refunded.
      <br>
    </p>
    <p>
      To Continue shopping just follow this link: <%=link_to(@url) do%>eshopper.com<% end %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>