<table class="table table-condensed total-result">
  <tr>
    <td>Cart Sub Total</td>
    <td><%= @cart_sub_total %></td>
  </tr>
  <tr>
    <td>Exo Tax</td>
    <td><%= @tax %></td>
  </tr>
  <tr>
    <td>Shipping Cost</td>
    <td><%=  @shipping_cost1 %></td>                   
  </tr>
  <tr>
    <td>Total</td>
    <td ><span ><%= @total %></span></td>
  </tr>
</table>
