<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to(root_path) do %>Home<% end %></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->
    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>
    <div class="shopper-informations">
      <%if @customer_addresses.present? && current_customer.addresses.pluck(:status ).include?("active")%>
      <div class="row">
        <div class="col-sm-12 clearfix">
          <div class="bill-to create-address">
            <%= render "address"%> 
          </div>
        </div>
      </div>
      <% end %>
       <div class="col-sm-12 create-address">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add new Address</button>
            </div>
             <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
             <%= render "addresses/form" %>
            </div>
    <div class="row">   
  </div> <!--/#cart_items-->
</section>  

  

  