<div>
<% @state = ["cancel","delivered", "failed", "intransit","pending", "shipped", "success"] %>
  <%= form.select(:status, @state, id: "state", required: "required", class: "selectpicker") %>
</div>