<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to http://madhu-eshopper.herokuapp.com/, <%= @customer.first_name %></h1>
    <%= image_tag "home/logo.png" %>
    <p>
      You have successfully signed up to http://madhu-eshopper.herokuapp.com/,
      your username is: <%= @customer.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>