<html>
  <head>
    <title>EShopper</title>
    <style type="text/css">
      *{margin:0px; padding:0; font-family:arial; color:#232323; font-size:14px;}
    </style>
  </head>
  <body>
    <table style="border:1px solid #f1f1f1; margin:auto; text-align:center;" width="800" align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td style="padding:15px;" align="left">
            <h4 style="margin:15px;text-decoration:underline" align="center">Account Confirmation</h4>
            <h6 style="line-height: 200%;">
              <span style="text-decoration:underline">From: </span>
              <span style="text-decoration:underline"> EShopper</span> </h6>
            <p style="line-height: 200%;"><span style="text-decoration:underline;"><strong>Subject:</strong></span> </strong>Congratulations! Your Account has been verified.</strong></p>
            <p>Dear <%= @resource.first_name.present? ? @resource.first_name :  @resource.email %>, </p>
            <p style="line-height: 200%;">
              &#09;&#09;Congratulations! Your Account has been verified. To log in when visiting our site just click Sign in at the top of home page, and then enter your e-mail address and password.</p>
         <br><br>
          <p style="line-height: 200%;"><strong>Note: </strong> Please do not reply back to this mail. This is sent from an unattended mail box.This e-mail was sent from EShopper.</p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="background:#f4f4f4; padding:15px 0; text-align:center; color:#777;">&copy; EShopper, 2017 · All Rights Reserved.<%=link_to("http://madhu-eshopper.herokuapp.com/contacts", style: "color:#052B48;text-decoration:none", target: "_blank") do %> eshopper.com <% end %></td>
      </tr>
    </tfoot>
  </table>
</body>
</html>

